.calendar {
  flex-grow: 2;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  &__week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column: 1 / 8;
  }

  &__item {
    padding: 6px;
    display: inline-grid;
    grid-template-rows: 32px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 100%;
    border: 2px solid black;
    transition: 0.3s;
    background: white;
    position: relative;

    &__todos {
      width: 100%;
      padding: 12px 0 0 2px;
      display: inline-flex;
      position: absolute; 
      left: 0;
      right: 0;
      top: 36px;
      bottom: 0;

      flex-direction: column;
      margin-right: 4px;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: min-content;
      max-height: 100%;

    }

    &__todo-button {
      padding: 2px 20px;
      position: relative;
      text-align: left;
      background: none;
      display: flex;
      justify-content: space-between;
      border: none;

      &--disabled {
        pointer-events: none;
      }

      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }

      &:hover {
        background: Aqua;
      }

      &::before {
        position: absolute;
        content: "";
        display: block;
        left: 3px;
        top: 50%;
        transform: translateY(-50%);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: SteelBlue;
      }
    }

    &--disabled {
      background: rgba(0, 0, 0, 0.2);
    }

    &--active {
      background: #20B2AA;
    }

    &__day-week {
      text-align: end;
    }

    &__day {
      line-height: 32px;
      font-size: 32px;
    }
  }
}